
TP_heritage/.vs/ProjectSettings.json
TP_heritage/.vs/slnx.sqlite
TP_heritage/.vs/TP_heritage/v16/.suo
TP_heritage/bin/Debug/TP01.exe
TP_heritage/bin/Debug/TP01.exe.config
TP_heritage/bin/Debug/TP01.pdb
TP_heritage/obj/Debug/TP01.csproj.CoreCompileInputs.cache
TP_heritage/obj/Debug/TP01.csproj.FileListAbsolute.txt
TP_heritage/obj/Debug/TP01.csprojAssemblyReference.cache
TP_heritage/obj/Debug/TP01.exe
TP_heritage/obj/Debug/TP01.pdb
TP_heritage/Properties/AssemblyInfo.cs
TP_heritage/TP01.csproj
TP_heritage/TP01.sln
